@charset "UTF-8";

@media (max-height: 500px) and (orientation: landscape) {
  main {
    margin-top: 300px; /* reduzido pra evitar que o conteúdo fique por trás do header */
    font-size: 1em;
    padding: 8px;
  }

  .galeria img {
    flex: 1 1 120px; /* reduz um pouco pra caber mais imagens lado a lado */
  }
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 1em;
  }
  span#burguer {
    display: none;
  }
  nav {
    display: block;
  }
  nav > ul > li {
    display: inline-block;
  }
  main {
    max-width: 800px;  /* uso só max-width para flexibilidade */
    margin-top: 340px;
    width: 100%;       /* para garantir que encha até 800px */
  }
  article > h2 {
    font-size: 1.2em;
  }
  article > p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .galeria {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galeria img {
    flex: 1 1 300px;
    max-width: 100%;
  }           
}

@media screen and (min-width: 1220px) {
  main {
    max-width: 800px;  /* mantém a mesma largura máxima */
    font-size: 1.2em;
  }
  article > h2 {
    font-size: 1.5em;
  }
  article > p {
    font-size: 1.3em;
  }
}




